<style>
  .styleguide-content{
    margin-bottom: 25px;
  }
.sg-mrb-10{
  margin-right:10px;
  margin-bottom:10px;
}
  .sg-m-10{
    margin:10px;
  }
  #sa-styleguide-content {
    margin-bottom: 50px;
  }


</style>
<!-- Sync page -->
  <nav class="navbar navbar-inverse" style='border-radius:0;'>
    <ul class="nav navbar-nav">
          <li ui-sref-active="active"><a ui-sref=".colors">Colors</a></li>
          <li ui-sref-active="active"><a ui-sref=".typography">Typography</a></li>
          <li ui-sref-active="active"><a ui-sref=".panels">Panels</a></li>
          <li ui-sref-active="active"><a ui-sref=".listgroups">List Groups</a></li>
          <li ui-sref-active="active"><a ui-sref=".buttons">Buttons</a></li>
          <li ui-sref-active="active"><a ui-sref=".directives">Directives</a></li>
          <li ui-sref-active="active"><a ui-sref=".validation">Form Validation</a></li>
        </ul>
    <div class="pull-right">
    </div>
  </nav>
  <div class='scroll-container has-subheader  '>
    <ui-view ></ui-view>

  </div>
</div>
