<div class='container m-b-50'>
  <h1>Colors</h1>
  <div class='style-guide-section'>
    <div class="row" ng-repeat="item in colors">
      <h4>{{item.name}}</h4>
      <div class=" col-xs-2 flex-container background-{{c}}" insert-style match-width ng-repeat='c in item.colors'>
        <div class=" ta-center">
          {{c}}
          <div >
            {{ standardize(theStyle['background-color'])}}</div>
        </div>
      </div>
    </div>

  </div>
</div>
