
@include generate-helper-classes( p-, 5, padding,px);
@include generate-helper-classes( p-l-, 5, padding-left,px);
@include generate-helper-classes( p-r-, 5, padding-right,px);
@include generate-helper-classes( p-b-, 5, padding-bottom,px);
@include generate-helper-classes( p-t-, 5, padding-top,px);
@include generate-helper-classes( m-, 5, margin,px);
@include generate-helper-classes( m-l-, 5, margin-left,px);
@include generate-helper-classes( m-r-, 5, margin-right,px);
@include generate-helper-classes( m-b-, 5, margin-bottom,px);
@include generate-helper-classes( m-t-, 5, margin-top,px);

html {
  height: 100%;
  -ms-touch-action: none;
}
body{
  overflow: hidden;
}
.height-100{
  height: 100%;
}

.scroll-container, .ionic-scroll{
  height: calc(100vh);
  overflow: auto;
  &.has-header{
      height: calc(100vh - 50px);
  }
  &.has-subheader{
      height: calc(100vh - 100px);
  }
}
.header-placeholder{
  height: $navbar-height;
}

.middle-left{
  position: absolute;
  top: 25%;
  left:0;
}
.middle-right{
  position: absolute;
  top: 25%;
  right:0;
}

.no-br-top {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.ta-center{
  text-align: center;
}

.p-relative{
  position: relative;
}

.flex-container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-columns{
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
}

.flex-container-center{
    height: calc(100vh - 25%);
}

.full-width {
  width: 100%;
}

.default-margin-bottom {
  margin-bottom: $default-margin-bottom;
}
.default-margin-top {
  margin-bottom: $default-margin-top;
}


h1,
.h1 {
  font-family: $font-family-h1;
  font-size: $font-size-h1;
}
h2,
.h2 {
  font-family: $font-family-h2;
  font-size: $font-size-h2;
}
h3,
.h3 {
  font-family: $font-family-h3;
  font-size: $font-size-h3;
}
h4,
.h4 {
  font-family: $font-family-h4;
  font-size: $font-size-h4;
}
h5,
.h5 {
  font-family: $font-family-h5;
  font-size: $font-size-h5;
}
h6,
.h6 {
  font-family: $font-family-h6;
  font-size: $font-size-h6;
}

.logo {
  background: url("/images/logo.png") center center no-repeat;
  height: 70px;
  max-width: 320px;
  text-align: center;
  background-size: 75%;
  margin: 10px auto 0;
}


/* === Helper classes === */
.hidden {
  display: none!important;
}

.clickable {
  cursor: pointer;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}
