/*
    Adding new colors:
    1. Add your color variable to the in _variables.scss
    2. Map that color to the $backgroundColors array (naming should be consistent)
    3. Add the corresponding foreground color to the $foregroundColors array
 */

$backgroundColors: (
    primary: $brand-primary,
    secondary: $brand-secondary,
    tertiary: $brand-tertiary,
    'white': $white, //i had to put this in quotes because it was breaking the minimizer
    'black': $black,
    warning: $brand-warning,
    success: $brand-success,
    danger: $brand-danger,
    info: $brand-info,
    gray-darker: $gray-darker,
    gray-dark: $gray-dark,
    'gray': $gray,
    gray-base: $gray-base,
    gray-light: $gray-light,
    gray-lighter: $gray-lighter,

    balanced: $balanced,
    energized: $energized,
    stable: $stable
);
$foregroundColors: (
    primary: $white,
    secondary: $white,
    tertiary: $white,
    'white': $black,
    'black':  $white,
    warning: $white,
    success:  $white,
    danger:  $white,
    info:  $white,
    gray-base: $white,
    gray-darker:  $white,
    gray-dark:  $white,
    'gray':  $white,

    gray-light: $white,
    gray-lighter: $white,

    balanced: $white,
    energized: $white,
    stable: $white
);

$selectedColors: (
    'white': 'primary',
    'default': 'primary',
    primary: 'secondary',
    secondary: 'primary',
    tertiary: 'primary',

    'black':  'primary',
    warning: 'primary',
    success:  'primary',
    danger:  'primary',
    info:  'primary',
    gray-base: 'primary',
    gray-darker:  'primary',
    gray-dark:  'primary',
    'gray':  'primary',

    gray-light: 'primary',
    gray-lighter: 'primary',

    balanced: 'primary',
    energized: 'primary',
    stable: 'primary'
);
