
$gray-base:              #000!default;
$gray-darker:            lighten($gray-base, 13.5%)!default; // #222
$gray-dark:              lighten($gray-base, 20%)!default;   // #333
$gray:                   lighten($gray-base, 33.5%)!default; // #555
$gray-light:             lighten($gray-base, 46.7%)!default; // #777
$gray-lighter:           #ccc; //lighten($gray-base, 93.5%)!default; // #eee


$white:rgba(255,255,255,1) !default;
$black:rgba(45,45,45,1) !default;

$btn-default-bg: $gray-lighter;
$btn-default-color: $black;

$balanced: #87B487 !default;
$energized: #FFD25A !default;
$stable: #BDBDBD !default;

$brand-primary:  #6f7dbc!default;
$brand-primary-light: lighten($brand-primary, 10%)!default;
$brand-primary-dark: darken($brand-primary, 25%)!default;


$brand-secondary:  #f8981c !default;
$brand-secondary-light: lighten($brand-secondary, 10%)!default;
$brand-secondary-dark: darken($brand-secondary, 25%)!default;


$brand-tertiary: rgb(194, 60, 129)!default;
$brand-tertiary-light: lighten($brand-tertiary, 10%)!default;
$brand-tertiary-dark: darken($brand-tertiary, 25%)!default;


$nav-link-color: #fff !default;
$link-color: $brand-primary !default;//fff;

$body-bg: rgb(235, 235, 235) !default;
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;

$panel-default-text:$brand-primary!default;
$panel-default-heading-bg: #fff!default;

//=== Shared nav styles
$nav-link-hover-bg:                         $brand-primary!default;
$nav-disabled-link-color:                   $brand-primary-dark!default;
$nav-disabled-link-hover-color:             $brand-primary-light!default;


//== Tabs
$nav-tabs-border-color:                     $gray-light!default;
$nav-tabs-link-hover-border-color:          $brand-primary-light!default;

$nav-tabs-active-link-hover-bg:             $brand-primary!default;
$nav-tabs-active-link-hover-color:          $white!default;
$nav-tabs-active-link-hover-border-color:   $white!default;

$nav-tabs-justified-link-border-color:           $brand-primary !default;
$nav-tabs-justified-active-link-border-color:    #fff!default;

$side-tray-background-color: #555 !default;
$side-tray-text-color: #eaeaea !default;

$side-tray: 300px !default;
$side-tray-transition: 0.5s !default;

$standard-border-radius:5px !default;
$standard-border:1px solid $gray-light !default;

$small-box-shadow:0px 2px 1px rgba(0,0,0,0.5) !default;


$font-size-base:18px;


/*New Styles-------------------------------------------*/
$icon-font-path: '/fonts/bootstrap/';
$font-family-base: 'Open Sans', 'Helvetica' !default;
$font-family-light: 'Open Sans', 'Helvetica' !default;
$font-family-regular: 'Open Sans', 'Helvetica' !default;
$font-family-medium: 'Open Sans', 'Helvetica' !default;
$font-family-bold: 'Open Sans', 'Helvetica' !default;

$font-size-h1:   40px;  // floor(($font-size-base * 2.6)) !default; // ~36px
$font-size-h2:   24px;  // floor(($font-size-base * 2.15)) !default; // ~30px
$font-size-h3:   24px;  // ceil(($font-size-base * 1.7)) !default; // ~24px
$font-size-h4:   20px;  // ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-h5:   18px;  // $font-size-base !default;
$font-size-h6:   18px;  // ceil(($font-size-base * 0.85)) !default; // ~12px

$font-family-h1:  $font-family-bold;
$font-family-h2:  $font-family-bold;
$font-family-h3:  $font-family-medium;
$font-family-h4:  $font-family-medium;
$font-family-h5:  $font-family-medium;
$font-family-h6:  $font-family-medium;
$headings-font-weight: 700;
$default-margin-bottom:30px;
$default-margin-top:30px;


/*ICONS-----------------------*/
$add-icon:'\f067';

$btn-cancel-icon:"\f00d";
$btn-dropdown-closed-icon:"\f0d7";
$btn-dropdown-open-icon:"\f0d8";

$btn-link-icon: "\f105";
//$btn-link-icon: "\f1d8";

$btn-link-icon-selected:"\f00c";

$btn-question-icon:"\f128";

$btn-radio-positive-icon:"\f00c";
$btn-radio-neutral-icon:"\f00c";
$btn-radio-negative-icon:"\f00d";

$remove-icon:'\f068';
/*------------------------------------*/
