<div class='container m-b-50'>

<h1>Buttons</h1>
<hr/>
<div class='style-guide-section'>
  <div class="row">
      <div class="col-xs-6">
    <select class='form-control input' ng-model='state'>
        <option value="">-- State --</option>
        <option value="active">Active</option>
        <option value="disabled">Disabled</option>
        <option value="selected">Selected</option>

    </select>
    <select class="form-control " ng-model='size' ng-init="">
        <option value="">Button Standard</option>
        <option value="btn-block">Button.btn-block</option>
        <option value="btn-block btn-lg">Button.btn-block.btn-lg</option>
        <option value="btn-lg">Button.btn-lg</option>
        <option value="btn-sm">Button.btn-sm</option>

    </select>
    <select class="form-control " ng-model='icon' >
        <option value="">--</option>
        <option value="fa-check">fa-check</option>
        <option value="fa-chevron-right">fa-caret-right</option>
        <option value="fa-chevron-right btn-icon ">fa-chevron-right btn-icon </option>

    </select>
  </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <!-- Standard button -->
      <button type="button" class="sg-m-10 btn {{size}} {{state}}  btn-default">Default
        <i ng-if="icon" class="btn-icon fa {{icon}}"></i>
      </button>
      <button type="button" class="sg-m-10 btn {{size}} {{state}}  btn-white ">White
        <i ng-if="icon" class="btn-icon fa {{icon}}"></i>
      </button>

      <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
      <button type="button" class="sg-m-10 btn  {{size}} {{state}}  btn-primary">Primary
        <i ng-if="icon" class="btn-icon fa {{icon}}"></i>
      </button>


      <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
      <button type="button" class="sg-m-10 btn  {{size}} {{state}}  btn-secondary">Secondary
        <i ng-if="icon" class="btn-icon fa {{icon}}"></i>
      </button>


      <!-- Indicates a successful or positive action -->
      <button type="button" class="sg-m-10 btn  {{size}} {{state}}  btn-success">Success
        <i ng-if="icon" class="btn-icon fa {{icon}}"></i>
      </button>

      <!-- Contextual button for informational alert messages -->
      <button type="button" class="sg-m-10 btn  {{size}} {{state}}  btn-info">Info
        <i ng-if="icon" class="btn-icon fa {{icon}}"></i>
      </button>

      <!-- Indicates caution should be taken with this action -->
      <button type="button" class="sg-m-10 btn  {{size}} {{state}}  btn-warning">Warning
        <i ng-if="icon" class="btn-icon fa {{icon}}"></i>
      </button>

      <!-- Indicates a dangerous or potentially negative action -->
      <button type="button" class="sg-m-10 btn  {{size}} {{state}}  btn-danger">Danger
        <i ng-if="icon" class="btn-icon fa {{icon}}"></i>
      </button>

      <!-- Deemphasize a button by making it look like a link while maintaining button behavior -->
      <button type="button" class="sg-m-10 btn  {{size}} {{state}}  btn-link">Link
        <i ng-if="icon" class="btn-icon fa {{icon}}"></i>
      </button>

    </div>
  </div>

  <div class='row'>
    <div class="col-xs-12" style="margin-bottom:10px;">
      <h3>Divs acting like buttons<h3>
        <div>
          <select class="form-control col-xs-6" ng-model='hX' >
            <option value="">--</option>
            <option value="h1">h1</option>
            <option value="h2">h2</option>
            <option value="h3">h3</option>
            <option value="h4">h4</option>
            <option value="h5">h5</option>
            <option value="h6">h6</option>

        </select>
        <select class="form-control col-xs-6" ng-model='divSize' ng-init="">
            <option value="">Button Standard</option>
            <option value="btn-block">Button.btn-block</option>
            <option value="btn-block btn-lg">Button.btn-block.btn-lg</option>
            <option value="btn-lg">Button.btn-lg</option>
            <option value="btn-sm">Button.btn-sm</option>

        </select>
      </div>
      </div>
      <div class="col-xs-12 clearfix">
        <div class="sg-mrb-10 btn btn-default {{hX}} {{divSize}} " >default</div>
        <div class="sg-mrb-10 btn btn-white {{hX}} {{divSize}} " >white</div>
        <div class="sg-mrb-10 btn btn-primary {{hX}} {{divSize}} " >primary</div>
        <div class="sg-mrb-10 btn btn-secondary {{hX}} {{divSize}} " >secondary</div>
        <div class="sg-mrb-10 btn btn-success {{hX}} {{divSize}} " >success</div>
        <div class="sg-mrb-10 btn btn-info {{hX}} {{divSize}} " >info</div>
        <div class="sg-mrb-10 btn btn-warning {{hX}} {{divSize}} " >warning</div>
        <div class="sg-mrb-10 btn btn-danger {{hX}} {{divSize}} " >danger</div>
        <div class="sg-mrb-10 btn btn-link {{hX}} {{divSize}} " >link</div>
      </div>
    </div>

    <div class='well clearfix' ng-init='backgroundColor="btn-primary";'>
      <h1>Sandbox</h1>
      <textarea ng-model="backgroundColor" rows='3' cols='40'  placeholder='background(e.g. btn-primary)' >
      </textarea>
      <textarea ng-model="buttonClass" rows='3' cols='40' class='input-block' placeholder='(e.g. btn-primary border-white)' >
      </textarea>
      <div class="{{backgroundColor}} col-xs-12 p-25">
        <button class="btn {{buttonClass}}">I'm a button</button>
      </div>
    </div>
  </div>


</div>
  </div>
