<header class="bs-header text-center" id="overview">
  <div class="container">
    <h1>
      UBT-Gulp: App Version - {{homeVM.version}}
    </h1>
    <p>Created by <a href="https://www.unboxedtechnology.com/">UnboxedTechnology</a> </p>
  </div>

</header>
