
/* Navbar */
.navbar.navbar-primary {
  @include defaultBackgroundWithForeground('primary');
  .nav > li > a, a.navbar-brand {
    color:  #{map-get($foregroundColors, 'primary')};;
  }
  .navbar-toggle{
     border-color: $brand-primary-dark;
      @include defaultBackgroundWithForeground('primary');
     .icon-bar {
         background-color:  #{map-get($foregroundColors, 'primary')};;
     }
  }
}

@media (max-width: 767px) {

    .visible-xs.collapse.in {
        display: block!important;
    }
    .visible-xs.collapse {
        display: none!important;
    }

}

.navbar .collapse {
    border-top: 1px solid #e7e7e7;
    margin-left: -15px;
    margin-right: -15px;
    padding-right: 15px;
    padding-left: 15px;
}
