<header class="navbar navbar-primary navbar-fixed-top navbar-inner"  ng-if="navbarVM.isNavbarVisible()">
  <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse-me" ng-click="navbarVM.isCollapsed = !navbarVM.isCollapsed">
           <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand visible-xs" href="#">ubt-gulp</a>
      </div>
      <nav class="hidden-xs">
          <ul class="nav navbar-nav">
              <a href="#top" role="button" class="navbar-brand">
                  ubt-gulp
              </a>
              <h4 class="nav-title background-primary" ng-show="navbarVM.getNavTitle()">{{navbarVM.getNavTitle()}}</h4>
              <li ng-repeat='item in navbarVM.items' ui-sref-active>
                <a ui-sref="{{item.sref}}" ng-click="navbarVM.isCollapsed = !navbarVM.isCollapsed;"><i class='m-r-5 fa {{item.icon}}'></i>{{item.title}}</a>
              </li>
          </ul>
      </nav>
      <nav class="visible-xs collapse" id='collapse-me' collapse="!navbarVM.isCollapsed">
          <ul class="nav navbar-nav">
            <li ng-repeat='item in navbarVM.items' ui-sref-active>
              <a ui-sref="{{item.sref}}" ng-click="navbarVM.isCollapsed = !navbarVM.isCollapsed;"><i class='m-r-5 fa {{item.icon}}'></i>{{item.title}}</a>
            </li>
          </ul>
      </nav>
  </div>
</header>
