<div> 
 <button  ng-click="toggleVisible()"> Show Markup</button>
 <div ng-transclude>    <!-- living code -->  </div>
 <pre ng-show="isVisible()">
     <code>{{originalHTML}}
       <!-- original markup -->
     </code>
 </pre>
</div>
