<div class='container m-b-50'>
<h1>Typography</h1>
<div class='style-guide-section'>
  <div class='row'>
    <div class="col-xs-12 well">
      <h1 insert-style>This is an h1 ({{theStyle['font-size']}} {{theStyle['font-family']}})</h1>
      <h2 insert-style>This is an h2 ({{theStyle['font-size']}} {{theStyle['font-family']}})</h2>
      <h3 insert-style>This is an h3 ({{theStyle['font-size']}} {{theStyle['font-family']}})</h3>
      <h4 insert-style>This is an h4 ({{theStyle['font-size']}} {{theStyle['font-family']}})</h4>
      <h5 insert-style>This is an h5 ({{theStyle['font-size']}} {{theStyle['font-family']}})</h5>
      <h6 insert-style>This is an h6 ({{theStyle['font-size']}} {{theStyle['font-family']}})</h6>
      <p>paragraph</p>

      <p ng-repeat='t in textColors' class="text-{{t}}" insert-style>.text-{{t}} {{theStyle['font-size']}}</p>
      <p class="small" insert-style>.small {{theStyle['font-size']}}</p>
    </div>
  </div>
</div>
</div>
